* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1d8b70;
    font-family: Arial, sans-serif;
}

.container {
    background-color: #ddd;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width: 800px;
    text-align: center;
    font-size: larger;
}

h1, h2, h6 {
    margin-bottom: 20px;
}

h6 {
    color:rgb(87, 87, 87);
    text-align: right;
}

form label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

input, select, button {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    font-size: large;
}

ul {
    list-style-type: decimal;
    padding-left: 20px;
    text-align: left;
}

button {
    width: auto;
    padding: 6px 12px;
}
